// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto:400,900&display=swap');
@import '../oldbs/variables';
@import '../oldbs/mixins';
@import '../oldbs/grid';
// Variables
@import 'variables';

// Bootstrap
@import '../bs/scss/bootstrap';


@import 'mailgo';
body {
    overflow-x: hidden;
    font-size:1rem;
}
.sec-1,.sec-2,.sec-3{
    h1,h2,h3,h4,h5,h6{
        font-family:$primary-font;
    }
    span,p,a{
        font-family:$secondary-font;
    }
}
.jumbotron {
    background-color: transparent;
    margin-bottom:0;
    padding: 2rem 1rem;
    h1 {
        font-family:$primary-font;
        color: black;
        font-style:italic;
        font-weight: bold;
    }
    a {
        font-family: $secondary-font;
        font-style:italic;
        color: black;
        &:hover {
            text-decoration:none;
            color: $blue;
        }
    }
    .top-title {
        font-size:2rem;
        font-weight:bold;
        font-style:italic;
        font-family: $secondary-font;
    }
}




#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

div.field-group{
    margin-bottom: 5px;
}
h3.field-group{
    border-bottom:1px solid black;
}
.sec-2{
    span span {
        display: inline !important;

    }
    span.companyname:after { content: '\A'; white-space:pre; }
    span.todateifpresent:after { content: '\A'; white-space:pre; }
    div div div{
        margin-bottom:10px;
    }
    ul {
        list-style: none;
    }
    span.title {
        font-weight: bold;
        margin-bottom:0;
    }
    span.companyname {
        margin-left:5px;
        margin-bottom:0;
    }
    span.title:after {content: ", ";}

    span.citystate {
        margin:0;
    }
    span.citystate:after {
        content:";";
    }
    span.fromdate {
        margin-left:5px;
        margin-bottom:0;
    }
    span.todateifpresent {
        margin-bottom:0;
        font-style:italic;
    }
    span.todateifpresent:before {
        content:" - ";
        margin-left:5px;
        margin-bottom:0;
    }
    span.description {
        margin-top:0;
        font-weight: bold;
    }
    span.todate {
        margin-bottom: 0;

    }
    span.todate:before {
        content: " - ";
        margin-left: 5px;
        margin-bottom: 0;
    }
    span.todate:empty:before{
        display:none !important;
    }
    span.todateifpresent:empty:before{
        display:none !important;
    }
    span.todateifpresent:empty:before{
        display:none !important;
    }

    span.title {
        font-family:$primary-font;
        font-weight: 600 !important;
    }
}
.mailgo:hover{
    color:$blue !important;
    cursor:pointer !important;
}



.nav-item.dropdown.open  .dropdown-menu {display: block !important;}
.pdfnobg{
    background-color:white !important;
}

.badge.badge-light{
    display:inline-block;
    background-color:#e8e8e8;
    float: left;
    clear: both;
}

li {
    position: relative;
}
.modal-backdrop{
    opacity: .2;
}



span.nameline{
    margin:0 !important;
    padding:0;
    text-transform:uppercase;

}
.display-1{
    line-height: .75;
}
span.nameline:after { content: '\A'; white-space:pre; }
p.lead.top-title {
    margin-bottom: 0;
}
.topper{
    display:block;
    background-image: url('../images/bjb.svg');
    min-height: 260px;
    background-repeat: no-repeat;
    background-position: left;
    text-align:left;
    background-size: contain;
}
.jumbotron{
    padding: 0;
    border: 0px solid white;
    border-bottom: 19px solid black;
    border-radius: 0 !important;
    margin-bottom: 37px;
}
.bottombarrel{
    position:fixed;
    height:20px;
    bottom:30px;
    width: 100vw;
    left: 0;
}
.print{
    position:fixed;
    height:20px;

    bottom:30px;
    width: 100vw;
    right:0;
    top:30px;
}

div.print .printer {
    background-color: #e2e2e2;
    display: block;
    max-width: 30px;
    height:30px;
    width:30px;
    margin-right: auto;
    margin-left: auto;
    padding: 3px 8px;
    border-radius: 30px;
    border-bottom: 1px solid #949494;
    a{
        color:black;
        &:hover{
            color:white;
        }
    }
}
div.bottombarrel p.text-center {
    background-color: #e2e2e2;
    display: block;
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
    font-size: .5rem;
    padding: 1em;
    border-radius: 30px;
    border-bottom: 1px solid #949494;
    font-family: $primary-font;
    font-style: italic;
}

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: white; color:black; border-bottom: 1px solid #949494;}
