// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto:400,900&display=swap');
@import '../oldbs/variables';
@import '../oldbs/mixins';
@import '../oldbs/grid';
// Variables
@import 'variables';

// Bootstrap
@import '../bs/scss/bootstrap';


@import 'mailgo';
body {
    overflow-x: hidden;
}
.sec-1,.sec-2,.sec-3{
    h1,h2,h3,h4,h5,h6{
        font-family:$primary-font;
    }
    p,a{
        font-family:$secondary-font;
    }
}
.jumbotron {
    background-color: transparent;
    margin-bottom:0;
    padding: 2rem 1rem;
    h1 {
        font-family:$primary-font;
        color: black;
        font-style:italic;
        font-weight: bold;
    }
    a {
        font-family: $secondary-font;
        font-style:italic;
        color: black;
        &:hover {
            text-decoration:none;
            color: $blue;
        }
    }
    .top-title {
        font-size:2rem;
        font-weight:bold;
        font-style:italic;
        font-family: $secondary-font;
    }
}




#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

div.field-group{
    margin-bottom: 5px;
}
h3.field-group{
    border-bottom:1px solid black;
}
.sec-2{
    ul {
        list-style: none;
    }
    p.title {
        float:left;
        font-weight: bold;
        margin-bottom:0;
    }
    p.companyname {
        float:left;
        margin-left:5px;
        margin-bottom:0;
    }
    p.title:after {content: ", ";}

    p.citystate {
        clear:both;
        margin:0;
        float:left;
    }
    p.citystate:after {
        content:";";
    }
    p.fromdate {
        float: left;
        margin-left:5px;
        margin-bottom:0;
    }
    p.todateifpresent {
        float: left;
        margin-bottom:0;
        font-style:italic;
    }
    p.todateifpresent:before {
        content:" - ";
        margin-left:5px;
        margin-bottom:0;
    }
    p.description {
        clear:both;
        margin-top:0;
        font-weight: bold;
    }
    p.todate {
        float: left;
        margin-bottom: 0;

    }
    p.todate:before {
        content: " - ";
        margin-left: 5px;
        margin-bottom: 0;
    }
    p.todate:empty:before{
        display:none !important;
    }
    p.todateifpresent:empty:before{
        display:none !important;
    }
    p.todateifpresent:empty:before{
        display:none !important;
    }

    p.title {
        font-family:$primary-font;
        font-weight: 600 !important;
    }
}
.mailgo:hover{
    color:$blue !important;
    cursor:pointer !important;
}



.nav-item.dropdown.open  .dropdown-menu {display: block !important;}
.pdfnobg{
    background-color:white !important;
}
.pdfnobg * {
    background-color:white !important;
}
.badge.badge-light{
    display:inline-block;
    background-color:#e8e8e8;
    position:absolute;
    top:0;
    right:0;
}

li {
    position: relative;
}
.modal-backdrop{
    opacity: .2;
}


div.part_time_experience span p.title{
    margin-top:10px
}
div.part_time_experience span p.companyname{
    margin-top:10px
}


p.title:first-of-type  {
    clear: left;
    margin-top:0px;

}
p.companyname:first-of-type  {
    margin-top:0px;

}
div.part_time_experience span:nth-child(1) p {
    margin-top:0px;

}
div.part_time_experience span:nth-child(2) p {
    margin-top:0px;

}
